.Main {
  text-align: center;
  transition: background-color 0.5s ease;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: Arial, sans-serif;
}
*/ h1 {
  color: #333;
}

p {
  color: #666;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.port-contain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.neko {
  width: 80px;
  border-radius: 50%;
}

.port-zenn {
  font-size: 24px;
}

.port {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 10px auto;
  padding: 20px;
  width: 80%;
  background-color: rgb(0, 0, 50, 70%);
  border: 1px solid;
  border-color: rgb(0, 0, 255);
}

.item-content {
  background-color: rgba(0, 0, 70, 0.8);
  border: 1px solid rgb(0, 0, 200);
  border-radius: 8px;
  padding: 16px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item-content-link {
  justify-content: center;
  align-items: center;
}

.port-item {
  width: 60%;
  height: auto;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 700px) {
  .about-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(0, 0, 50, 70%);
    border: 1px solid;
    border-color: rgb(0, 0, 255);
    margin: 10px;
    padding: 10px;
    width: 60%;
  }
}
@media screen and (max-width: 700px) {
  .about-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(0, 0, 50, 70%);
    border: 1px solid;
    border-color: rgb(0, 0, 255);
    margin: 10px;
    padding: 10px;
    width: 90%;
  }

  .port {
    width: 95%;
    padding: 10px;
    gap: 10px;
    grid-template-columns: 1fr;
  }
}
/* .Main {
  text-align: center;
  background: linear-gradient(
    to right,
    #ff7e5f,
    #feb47b
  ); 
  background-size: 200% 100%; 
  transition: background-position 0.5s ease;
  padding: 20px;
  font-family: Arial, sans-serif;
  height: 100vh; 
}

h1 {
  color: #333;
}

div {
  color: #666;
} */

.item-content h4 {
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
}

.item-content p {
  margin: 0;
  font-size: 0.9em;
  color: #fff;
}

.zenn-profile-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3ea8ff; /* Zennのブランドカラーに近い色 */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.zenn-profile-link:hover {
  background-color: #007de8; /* ホバー時にもう少し濃い色に */
}
