.Main {
  text-align: center;
  transition: background-color 0.5s ease;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: Arial, sans-serif;
}
*/ h1 {
  color: #333;
}

p {
  color: #666;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.port-contain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.neko {
  max-width: 20%;
  border-radius: 50%;
}

.port {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(0, 0, 50, 70%);
  border: 1px solid;
  border-color: rgb(0, 0, 255);
  margin: 10px;
  padding: 10px;
  width: 60%;
}

.port-zenn {
  font-size: 24px;
}

.item-content {
  margin-top: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.port-item {
  width: 20%;
  pdding: 10px;
}

/* .Main {
  text-align: center;
  background: linear-gradient(
    to right,
    #ff7e5f,
    #feb47b
  ); 
  background-size: 200% 100%; 
  transition: background-position 0.5s ease;
  padding: 20px;
  font-family: Arial, sans-serif;
  height: 100vh; 
}

h1 {
  color: #333;
}

div {
  color: #666;
} */
